body
{
    margin: 0;
    padding: 0;
    background: #ADD8E6;
}

h1
{
    position: relative;
    top: -80px;
    text-align: center;
}

.form-group
{
    position: relative;
    top: -80px;
    font-size: 18px;
    background: white;
    border-radius: 10px;
}

.text-center
{
    position: relative;
    top: -80px;
}

.link-a
{
    position: relative;
    top: -80px;
    float: left;
}

.link-b
{
    position: relative;
    top: -80px;
    float: right;
}

.center
{
    position: relative;
    top:-50%;
    align-items: center;
    margin-left: 710px;
    margin-right: auto;
    width: 135px;
    height: 135px; 
}
