body
{
    margin: 0;
    padding: 0;
    background: #ADD8E6;
}

h2
{
    position: relative;
    top: -110px;
    text-align: center;
}

.form-group
{
    position: relative;
    top: -100px;
    font-size: 18px;
    background: white;
    border-radius: 10px;
}

.btn
{
    position: relative;
    top: -55px;
    left: -7px;
}

.text-center
{
    position: relative;
    top: -80px;
}

.button2
{
    position: relative;
    float: right;
    top: -123px;
    left: 30px;
}